<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylehome.css">
    <title>Document</title>
</head>
<body>
    <h1> Aplicacion Web </h1> <!-- Comentario de Prueba -->
    <p>Es una aplicación que proporciona herramientas a los desarrolladores de software para 
        elaborar código de programación de manera eficiente.  
        Un IDE consiste de los siguientes elementos: 
        1. Editor de Código Fuente: Herramienta que permite escribir código de software con 
        sugerencia de sintaxis automática y comprobación de errores de sintaxis. 
        2. Compilador: Se encarga de transformar el código escrito en lenguaje de alto nivel a 
        lenguaje de bajo nivel, es decir, convierte el código fuente a código máquina (binario 
        o ensamblador). 
        3. Depurador: Herramienta utilizada para comprobar los errores del código escrito por 
        el programador. 
        4. Interfaz gráfica de usuario: Proporciona herramientas para crear la interfaz de usuario 
        (GUI). </p>
        <ol>
            <li><a href="table.html"> Ir a la tabla </a> </li>
            <li><a href="form.html"> Ir a formulario </a> </li>
            <li><a href="consultar.html"> Ir a Consultas </a> </li>
        </ol>
</body>
</html>